app/src/main/mule/appmule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="appmuleFlow" doc:id="b0737820-c296-4cc4-ac94-4e3196237ecb" >
		<http:listener doc:name="Listener" doc:id="7fbdf9ae-ee46-4388-9ad0-0b4c4066e621" />
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="1225fdcd-96df-46da-bb3a-bcf5496dc132" />
	</flow>
</mule>
